*{
  box-sizing: border-box;
}
  
body {
  margin: 0;
  font-family: "Arimo", "Open Sans", "Montserrat";
}
  
a {
  text-decoration: none;
}

.wwalk-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color:rgba(75, 75, 75, 0.7);
  position :fixed;
  top: 0;
  z-index: 10;
}

.container {
  max-width: 1280px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.grid-wwalk-1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  column-gap: 5px;
}

.grid-wwalk-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 5px;
}

.grid-wwalk-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  column-gap: 5px;
}

.menu-icon {
  color: white;
  float: right;
  padding: 10px 0;
  display: none;
  visibility: hidden;
}

.header-logo { 
  float: left;
}

.logo img{
  width: 100px;
}

.fa {
  margin-right: 7px;
}

.header-nav {
  float: right;
  margin-top: 15px;
}

.header-nav a{
  margin-top: 10px;
  padding: 10px 25px;
  color: white;
  transition: all 0.2s;
}

.header-nav a:hover{
  margin: 2px 25px;
  padding: 10px 0;
  color: rgb(193, 237, 255);
  border-bottom: 1px solid rgb(193, 237, 255);
}

.header-nav button{
  padding: 7px 24px;
  margin-left: 30px;
  color: #ffffff;
  background-color:rgba(75, 75, 75, 0.1);
  border: 1px solid #ffffff;
  border-radius: 4px;
}

.header-nav button:hover{
  color: #ffffff;
  background-color:rgba(36, 174, 179, 0.9);
  border: 1px solid #abe7fa;
  border-radius: 4px;
}

.first-section{
  margin: 0 auto;
  padding-bottom: 110px;
  background-image:linear-gradient(to bottom right, #CD85B3, #4B52BA);
  justify-content: center;
  align-items: center;
}

.second-section{
  margin: 0 auto;
  padding-bottom: 110px;
  background-image: url("https://user-images.githubusercontent.com/92869765/158110028-cffa81ce-1482-4c3d-bfc1-78c682af7a70.png");
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.l-column{
  margin-top: 80px;
}

.img-responsive {
  max-width: 900px;
  width: 900px;
  margin-left: -200px;
}

.r-column{
  margin-top: 80px;
}

.r-column h1{
  color: #ffffff;
  font-size: 100px;
  margin-top: 10px;
  margin-bottom: -35px;
  margin-left: -5px;
}

.r-column h2{
  color: #ffffff;
  font-size: 25px;
  margin-bottom: 30px;
}

.r-column p{
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
}

.btn-info{
  font-size: 17px;
  font-weight: lighter;
  padding: 10px 45px;
  color: #ffffff;
  background-color: rgba(36, 174, 179, 0.1);;
  border: 1px solid #ffffff;
  border-radius: 6px;
}

.btn-info:hover{
  background-color:rgba(179, 36, 172, 0.9);
  border: 1px solid #ffffff;
}

.text-info{
  margin: 17% 15% 3%;
  padding: 20px;
  width: 37%;
  background-color:rgba(75, 75, 75, 0.4);
  border-radius: 20px;
}

.text-info h1{
  color: #ffffff;
  font-size: 100px;
  margin-top: 10px;
  margin-bottom: -35px;
  margin-left: -3px;
}

.text-info p{
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
}

.popular-product{
  padding: 140px 70px;
}

.popular-product h3{
  padding: 2px 10px;
  font-size: 25px;
}

.product{
  display:flex;
  flex-wrap:wrap;
}

.product-list{
  flex:auto;
  width: 25%;
  padding:0 10px;
}

.popular-product-section{
  width: 100%;
  background-color: #6b696c;
  color: #ffffff;
}

.product-image{
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  /* width: auto; */
  height: 180px;
  /* padding: 0 10px; */
}

.product-image img{
  /* text-align: center; */
  display: block;
  padding: 10px 0;
  /* max-width: 220px; */
  max-height: 180px;
  object-fit: cover;
  /* margin-left: auto;
  margin-right: auto; */
  width: 100%;
}

.product-name h4{
  padding-bottom: 4px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.product-name p{
  font-weight: normal;
}

.offer-section{
  width: 100%;
  background-color: #6b696c;
  color: #ffffff;
}

.container-offer{
  padding: 100px 20px;
  text-align: center;
}

.btn-offer{
  padding: 10px 20px;
  box-shadow: 0 7px #00000050;
  border-radius: 5px;
}

.btn-offer:active{
  box-shadow: none;
  position: relative;
  top: 7px;
}

.seven-section{
  background-image: url("docs/assets/images/shoes.jpg");
  margin: 0 auto;
  padding-bottom: 110px;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.heading{
  padding: 5%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.heading h1{
  color: black;
  font-size: 70px;
  text-align:center;
  margin-bottom:15px;
}

.heading h2 {
  color: black;
  font-size: 100px;
  margin-bottom: 30px;
  margin-right:30px;
  margin-top:30px;
  padding:50px;
  float:left;
}

.heading p{
  color:black;
  font-size:30px;
}

@media all and (max-width: 1180px) {

  .grid-wwalk {
    display: grid;
    grid-template-columns: 50% 50%;
  } 

  .l-column{
    margin-top: 80px;
  }

  .img-responsive {
    max-width: 900px;
    width: 100%;
    margin-left: 0px;
  }

  .r-column h1{
    font-size: 50px;
    margin-left: -3px;
  }

  .r-column h2{
    color: #ffffff;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .r-column p{
    color: #ffffff;
    font-size: 15px;
    line-height: 30px;
  }

  .btn-info{
    font-size: 15px;
    font-weight: lighter;
    padding: 7px 35px;
  }

  .text-info{
    margin: 20% 10% 7%;
    padding: 20px;
    width: 37%;
    background-color:rgba(75, 75, 75, 0.4);
    border-radius: 20px;
  }

  .text-info h1{
    font-size: 56px;
  }

  .text-info p{
    margin-top: 30px;
    font-size: 20px;
  }

  .product-list{
    width: 50%;
  }

}

@media all and (max-width: 670px) {

  .grid-wwalk-1 {
    display: grid;
    grid-template-columns: 100%;
    gap: 5px;
  }

    .grid-wwalk-2 {
    display: grid;
    grid-template-columns: 100%;
    gap: 5px;
  }

  .header-nav{
    display: none;
  }
    
  .menu-icon{
    display: block;
    visibility: visible;
  }

  .r-column{
    margin: 0 auto;
    padding: 10px 10px 10px 25px;
    background-color: rgba(100, 245, 255, 0.07);
    border-radius: 10px;
  }

  .text-info{
    margin: 55% auto;
    padding: 20px;
    width: 100%;
    text-align: center;
  }

  .text-info h1{
    font-size: 80px;
  }

  .text-info p{
    font-size: 20px;
    line-height: 30px;
  }

  .popular-product{
    padding: 80px 20px;
  }

  .product{
    flex-direction: column;
  }

  .product-list{
    margin: 0 auto;
    /* padding: 0; */
    width: 100%;
  }

  .popular-product h3{
    font-size: 30px;
  }

}
